body {
    background-color: black;
}

canvas{
    z-index: 1;
    width: 100%;
    height: 100%
}
#app {
    width: 100%;
    height: 100%;
    position: relative;

    .hud{
      position: absolute;
      z-index: 9;
      top: 3%;
      left: 2%;
      width: 16vw;
      height: 7vh;
      background-color: rgb(2, 110, 200);
      border-radius: 5px;
      border: 1px solid blue;
      #msg{
        font-weight: 550;
        font-size: 2vh;
        text-align: center;

      }
    }

    .hud2{
      position: absolute;
      z-index: 9;
      top: 3%;
      right: 2%;
      width: 16vw;
      height: 7vh;
      background-color: rgb(2, 110, 200);
      border-radius: 5px;
      border: 1px solid blue;
      #equipped{
        font-weight: 550;
        font-size: 2vh;
        text-align: center;

      }
    }

    #textbox {
      position: absolute;
      left: 10%;
      right: 10%;
      bottom: 2vh;
      min-height: 10vh;
      background: white;
      border-radius: 3px;
      outline-style: solid;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      word-spacing: 0.2rem;
      filter: drop-shadow(0 0 0.75rem rgb(112, 112, 112));
      /* overflow: auto; */
    }
  
    .ui-text {
      margin: 0;
      user-select: none;
    }
  
    .ui-close-btn {
      font-family: monogram, monospace;
      border-style: none;
      border-radius: 3px;
      padding: 1rem;
      font-size: inherit;
    }
  
    .btn-container {
      align-self: flex-end;
      margin-top: 1rem;
    }
  
    .note {
      position: absolute;
      left: 5%;
      display: flex;
      flex-direction: column;
      color: rgb(238, 238, 238);
    }
    .moveset-div{
      left: 20%;
      margin-top: 1vh;
      margin-bottom: 20px;
      text-align: center;
      .moveset-button {
        background-color: #cdc1b5;
        color: black;
        font-weight: 600;
        text-align: center;
        height: 30px;
        width: 100px;
      }
      .moveset-button:hover{
        background-image: linear-gradient(#eec744, #f4b17a);
        color: black;
      }
      .moveset-button::after{
        background-image: linear-gradient(#eec744, #f4b17a);
        color: black;
      }
    }

}